@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{ 
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px 0px;
  background: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.page{
  height: 100%;
  width: 100%;           
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(240,240,240);
}

header{
  background: rgb(0,0,0);
  width: 100%;
}

header nav{ 
  display: flex;
  flex-direction: row;
}

header nav a{  
  padding: 24px; 
  color: rgb(255,255,255);
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  &:hover {
   text-decoration: underline;
   transform: scale(1.06);
 }
}

.button{
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  align-self: flex-start;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 4px;
  padding-right: 12px;
  border-radius: 999px;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
      transform: scale(1.06);
      box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  }
}

.view_counter_wrap{
  display: flex;
  justify-content: center;
  .view_counter{
    background: rgb(0,0,0);
    color: rgb(255,255,255);
    padding: 4px 12px;
    border-radius: 999px;
    margin-bottom: 18px;
    display: flex;
    gap: 4px;
    button{
      border-radius: 50px;
      border-color: rgb(255,255,255);
      margin-left: 4px;
    }
  }
}