:root{
  --accent: #2f6f3e;   /* green */
  --text: #111;
  --muted: #333;
}

*{ 
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px 0px;
  background: #f3f3f3;
  font-family: Georgia, "Times New Roman", serif;
}

.page{
  height: 100%;
  width: 100%;           
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(240,240,240);
}

header{
  background: rgb(0,0,0);
  width: 100%;
}

header nav{ 
  display: flex;
  flex-direction: row;
}

header nav a{  
  padding: 24px; 
  color: rgb(255,255,255);
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  &:hover {
   text-decoration: underline;
   transform: scale(1.06);
 }
}

.button{
  background: var(--accent);
  color: rgb(255,255,255);
  align-self: flex-start;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 4px;
  padding-right: 12px;
  border-radius: 999px;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
      transform: scale(1.06);
      box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  }
}
