.home_page{
  width: min(1000px, 100%);
  font-size: 12pt;
  line-height: 1.60;
  background: rgb(255,255,255);
  padding: 20px 50px;
  .intro_video img {
    width: 35%;
    display: flex;
    width: 320px;          /* pick a size */
    aspect-ratio: 1 / 1;   /* forces square */
    border-radius: 50%;
    object-fit: cover;     /* fills the square without distortion */
    display: block;
    margin-left: auto;
  }
}
