---
- name: Deploy S3 bucket, CloudFront, and ACM Cert with Terraform
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    tf_dir: "{{ playbook_dir }}/../terraform"
  vars_files:
    - vaults/prod.yml

  tasks:
    - name: Terraform init
      ansible.builtin.command: terraform init -input=false
      args:
        chdir: "{{ tf_dir }}"
      environment:
        AWS_PROFILE: "{{ AWS_PROFILE }}"
        AWS_REGION: "{{ AWS_REGION }}"

    - name: Terraform apply
      ansible.builtin.command: terraform apply -auto-approve -input=false
      args:
        chdir: "{{ tf_dir }}"
      environment:
        AWS_PROFILE: "{{ AWS_PROFILE }}"
        AWS_REGION: "{{ AWS_REGION }}"
